[submodule "third_party/libcsv"]
	path = third_party/libcsv
	url = https://github.com/robertpostill/libcsv.git
[submodule "third_party/or-tools"]
	path = third_party/or-tools
	url = https://github.com/google/or-tools.git
